<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WelCome</title>
    <link rel="stylesheet" href="/css/amazeui.css" />
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/page/typography.css" />
    <link rel="stylesheet" href="/css/page/form.css" />
    <link rel="stylesheet" href="/css/component.css" />
    <link rel="stylesheet" href="/css/yzc.css" />
</head>

<body>

<!-- Begin page -->
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-topbar-left am-hide-sm-only">
        <p href="#" class="logo"><span id="userType">顾客</span><i class="zmdi zmdi-layers"></i></p>
    </div>

    <div class="contain">
        <ul class="am-nav am-navbar-nav am-navbar-left">
            <li><h4 class="page-title">餐厅信息</h4></li>
        </ul>
    </div>
</header>
<!-- end page -->


<div class="admin">

    <div th:replace="custIndex::cust"></div>


    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="am-u-sm-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">菜单</h4>
                    <div class="am-g">

                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox"></th>
                                <th class="table-title">菜品名称</th><th class="table-title">菜品价格</th>
                                <th class="table-type">菜品种类</th>
                                <th class="table-title">菜品简介</th>
                                <th class="table-title">添加备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="foodInfo:${foodInfos}">
                                <td><input onclick="addFood(this)" type="checkbox" th:name="${foodInfo.getId()}"/></td>
                                <td>[[${foodInfo.getFoodName()}]]</td>
                                <td>[[${foodInfo.getFoodPrice()}]]</td>
                                <td>[[${foodInfo.getFoodType()}]]</td>
                                <td class="am-hide-sm-only">[[${foodInfo.getFoodIntro()}]]</td>
                                <td>
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button th:name="${foodInfo.getId()}" onclick="showAddRemark(this)" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span>添加备注</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- row start -->
            <div class="am-g">
                <!-- col start -->
                <div class="am-u-md-6">
                    <button onclick="showAddOrder()" style="margin-left: 250px;"  class="am-btn am-btn-primary">点击预订</button>
                </div>
                <div class="am-u-md-6">
                    <button onclick="showRestCommentInfos()" style="margin-left: 250px;"  class="am-btn am-btn-primary">查看评论</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="start_Order">
    <div class="am-modal-dialog">
        <div>
            <button style="float:right" class="am-modal-btn close warp thick">×</button>
        </div>
        <div style="margin-top: 30px; width: 450px;margin-left:50px" class="card-box">
            <h4 class="header-title m-t-0 m-b-30">预计就餐时间</h4>
            <div class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">年月日</label>
                    <div class="am-u-sm-9">
                        <input autocomplete="off" id="date" name="date" type="text"  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:'%y-%M-%d {%H+2}:%m',maxDate:'%y-%M-{%d+7}',minTime:'08:00:00',maxTime:'22:30:00'})"/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">就餐人数</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="peopleNum" name="peopleNum" >
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-10">
                        <input onclick="addOrder()" style="margin-left: 30px;" type="button" class="am-btn am-btn-default" value="创建订单"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="Rest_Comment">
    <div style="width: 800px;" class="am-modal-dialog">
        <div class="am-modal-bd">

            <div style="margin-top: 0px;" class="content-page">
                <h4>所有评论</h4>
                <div class="content">
                    <div class="am-g">
                        <div class="card-box">
                            <table id="table" class="am-table">
                                <thead>
                                <tr >
                                    <th  style="text-align: center;">评论用户</th>
                                    <th  style="text-align: center;">评论风格</th>
                                    <th  style="text-align: center;">评论内容</th>
                                    <th  style="text-align: center;">评论时间</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                            <div id="show_pageInfo">

                            </div>
                            <div style="float: right;font-size: 12px;"  class="Pagination" id="show_pageNav">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">关闭</span>
        </div>
    </div>
</div>


<div class="am-modal am-modal-alert" tabindex="-1" id="start_Remark">
    <div style="width: 600px;" class="am-modal-dialog">
        <div>
            <span style="font-size: 24px;">添加备注</span><button style="float:right" class="am-modal-btn close warp thick">×</button>
        </div>
        <div class="am-u-md-6">
            <div style="width: 450px;margin-left: 50px;" class="card-box">
                <div class="am-form am-form-horizontal">

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">详细评价</label>
                        <div class="am-u-sm-9">
                            <textarea class="am-u-md-10 form-control" rows="5" id="sketch"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div style="margin-left: 40px;" class="am-u-sm-10">
                            <button onclick="addRemark()" class="am-btn am-btn-default">添加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

<script type="text/javascript" src="/js/paging.js" ></script>
<script type="text/javascript" src="/js/paging_for_restComment.js" ></script>
<script type="text/javascript" src="/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="/js/amazeui.min.js"></script>
<script type="text/javascript" src="/js/yzc.js"></script>
<script type="text/javascript" src="/js/json2.js"></script>
json2
<script language="javascript" type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>

<script th:inline="javascript" type="text/javascript">
    var rest_id=[[${restId}]];
    var foodInfo=[];
    var food_id=0;
    var userInfo=[[${session.userInfo}]];

    function showRestCommentInfos() {
        query_Infos(1);
        $('#Rest_Comment').modal();
    }
    function showAddOrder() {

        if(userInfo==null)
        {
            alert("请先登陆");
            return;
        }
        $('#start_Order').modal();
    }
    function showAddRemark(button) {
        if(userInfo==null)
        {
            alert("请先登陆");
            return;
        }
        food_id=$(button).attr('name');
        $('#start_Remark').modal();
    }


    function addOrder() {
        var date=$("#date").val();
        var peopleNum=$("#peopleNum").val();
        if(date==""||peopleNum=="")
        {
            alert("日期人数不能为空");
            return;
        }
        if(foodInfo.length==0)
        {
            alert("请先点菜");
            return;
        }
        var foodInfoJson=JSON.stringify(foodInfo);
        $.post("/addOrder",{"foodList":foodInfoJson,"restId":rest_id,"date":date,"peopleNum":peopleNum},function (result) {
            alert(result.datas.message);
            if(result.success)
            {
                window.location.href="/custOrderInfos";
            }
        });

    }
    function addFood(checkbox) {
        if(userInfo==null)
        {

            alert("请先登陆");
            $(checkbox).attr("checked", false);
            return;
        }
        food_id=$(checkbox).attr("name");
        if($(checkbox).is(':checked')) {
            var food = {
                foodId: food_id,
                remark: "无"
            }
            foodInfo.push(food);
        }else
        {
            var index=foodInfo.findIndex(getIndex);
            if(index!=-1)
            {
                foodInfo.splice(index,1);
            }
        }

    }
    
    function addRemark() {
        var remark=$("#sketch").val();
        if(remark=="")
        {
            alert("备注不能为空");
            return;
        }
        var index=foodInfo.findIndex(getIndex);
        if(index==-1)
        {
            var food = {
                foodId: food_id,
                remark: remark
            }
            foodInfo.push(food);
            alert(food_id);
            $('input[name="'+food_id+'"]').attr("checked", true);
        }else {
            foodInfo[index].remark=remark;
        }
        alert("添加成功!");
        $("#sketch").val("");
        $('#start_Remark').modal('close');
        console.log(foodInfo);
    }
    
    function getIndex(food) {
        return food["foodId"]==food_id;
    }

</script>
</body>
</html>