.close {
    font-size: 24px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
      border: none;
    outline: none;
    background-color: #F8F8F8;
  }
.close:hover{
    background-color: #FF0000;
    color: #FFF;
}

.disabled{
    disabled:"disabled";
}